<html>
  <h1>Screen One</h1>
  <h5>Enter your details<span *ngIf="storageService.persons.length>0||personCounter>0"> or <a href="/list">View list</a></span>.</h5>
  <form [formGroup]="screenOneForm" (ngSubmit)="goToScreenTwo()" class="container">
    <label for="firstName">First Name</label>
    <input #focusField formControlName="firstName" id="firstName" required />
    <div class="error-message" *ngIf="
        !screenOneForm.controls['firstName'].valid &&
        screenOneForm.controls['firstName'].touched
      ">
      Please enter your first name
    </div>
    <label for="lastName">Last Name</label>
    <input formControlName="lastName" id="lastName" required />
    <div class="error-message" *ngIf="
        !screenOneForm.controls['lastName'].valid &&
        screenOneForm.controls['lastName'].touched
      ">
      Please enter your last name
    </div>
    <label for="cellNumber">Cell Number</label>
    <input formControlName="cellNumber" id="cellNumber" required />
    <div class="error-message" *ngIf="
        !screenOneForm.controls['cellNumber'].valid &&
        screenOneForm.controls['cellNumber'].touched
      ">
      Please enter a valid cell number
    </div>
    <div class="single-button-row">
      <button type="submit" [disabled]="!screenOneForm.valid">Next >></button>
    </div>
  </form>
</html>