<h1>All persons <span style="font-size: smaller; color:#a9a9a9;">({{storageService.persons.length}})</span></h1>
<h5>
  <a href="#" (click)="goToScreenOne()">Go to screen one</a> |
  <a href="http://127.0.0.1:8000/persons/download_persons" target="_blank">Download as CSV</a>
</h5>
<div class="container">
<table>
  <tr>
    <th>First name</th><th>Last name</th><th>Cell number</th><th>Physical address</th><th>Postal address</th><th>Comment</th>
  </tr>
  <tr *ngFor="let person of storageService.persons">
    <td>{{ person.firstName }}</td>
    <td>{{ person.lastName }}</td>
    <td>{{ person.cellNumber }}</td>
    <td>
      {{ person.physicalAddressLine1 }}
      {{ person.physicalAddressLine2 }}
      {{ person.physicalAddressLine3 }}
    </td>
    <td>
      {{ person.postalAddressLine1 }}
      {{ person.postalAddressLine2 }}
      {{ person.postalAddressLine3 }}
    </td>
    <td>{{ person.comments }}</td>
  </tr>
</table>
