<h1>Screen Two</h1>
<h5>Address Details</h5>
<form [formGroup]="screenTwoForm" (ngSubmit)="goToScreenThree()">
  <p>Physical Address</p>
  <input #focusField formControlName="physicalAddressLine1" required />
  <div class="error-message" *ngIf="
      !screenTwoForm.controls['physicalAddressLine1'].valid &&
      screenTwoForm.controls['physicalAddressLine1'].touched
    ">
    Please enter your full physical address.
  </div>
  <input formControlName="physicalAddressLine2" required />
  <div class="error-message" *ngIf="
      !screenTwoForm.controls['physicalAddressLine2'].valid &&
      screenTwoForm.controls['physicalAddressLine2'].touched
    ">
    Please enter your full physical address.
  </div>
  <input formControlName="physicalAddressLine3" required />
  <div class="error-message" *ngIf="
      !screenTwoForm.controls['physicalAddressLine3'].valid &&
      screenTwoForm.controls['physicalAddressLine3'].touched
    ">
    Please enter your full physical address.
  </div>

  <p>Postal Address</p>
  <input formControlName="postalAddressLine1" required />
  <div class="error-message" *ngIf="
      !screenTwoForm.controls['postalAddressLine1'].valid &&
      screenTwoForm.controls['postalAddressLine1'].touched
    ">
    Please enter your full postal address.
  </div>
  <input formControlName="postalAddressLine2" required />
  <div class="error-message" *ngIf="
      !screenTwoForm.controls['postalAddressLine2'].valid &&
      screenTwoForm.controls['postalAddressLine2'].touched
    ">
    Please enter your full physical address.
  </div>
  <input formControlName="postalAddressLine3" required />
  <div class="error-message" *ngIf="
      !screenTwoForm.controls['postalAddressLine3'].valid &&
      screenTwoForm.controls['postalAddressLine3'].touched
    ">
    Please enter your full postal address.
  </div>
  <div class="multiple-button-row">
    <div class="cell">
      <button type="button" backButton (click)="dispatch()"><< Back</button>
    </div>
    <div class="cell">
      <button type="submit" [disabled]="!screenTwoForm.valid">Next >></button>
    </div>
  </div>
</form>
