/* You can add global styles to this file, and also import other style files */
input {
  width: 98%;
  padding-right: 1%;
  padding-left: 1%;
  margin: auto;
  border-color: #CCC;
  border-width: thin;
  border-style: solid;
}
input:focus, textarea:focus {
  outline: none !important;
  border:1px solid #CCC;
  box-shadow: 0 0 10px #719ECE;
}
.error-message {
  color: #FF0000;
}
.success-message {
  color: #00ff00;
  text-align: center;
}
.multiple-button-row button {
  margin-top: 10px;
  margin-left: 30%;
  margin-right: 30px;
  display: inline-block;
  width: 60%;}
.single-button-row button[type="submit"] {
  text-align: center;
  margin: auto;
  display: block;
  margin-top: 10px;
}
.centered-textarea {
  width: 98%;
  height: 5em;
}
.container {
  text-align: center;
}
.cell {
  display: inline-block;
  width: 50%;
  text-align: center;
}
form {
  text-align:left !important;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility:hidden;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body {
  font-family: 'PT Serif',serif;
}
h1 {
  font-family: Poppins,sans-serif;
  font-weight: 700;
  text-align: center;
}
h5 {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}