<h1>Screen Three</h1>
<h5>Miscellaneous</h5>
<div class="container">
  <form [formGroup]="screenThreeForm" (ngSubmit)="submit()">
    <p>Comments</p>
    <textarea #focusField formControlName="comments" (blur)="dispatch()" class="centered-textarea"></textarea>
    <div class="multiple-button-row">
      <div class="success-message" [ngClass]="(submitted && errorMessage.length<1) ? 'visible' : 'invisible'">
        {{ successMessage }}
      </div>
    </div>
    <div class="multiple-button-row">
      <div class="error-message" [ngClass]="(submitted && errorMessage.length>0) ? 'visible' : 'invisible'">
        {{ errorMessage }}
      </div>
    </div>
    <div class="multiple-button-row">
      <div class="cell">
        <button type="button" backButton (click)="dispatch()"><< Back</button>
      </div>
      <div class="cell">
        <button type="submit" [disabled]="!screenThreeForm.valid">Submit</button>
      </div>
    </div>
  </form>
</div>
